<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitorias Académicas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="logo" onclick="location.href='../Home/inicio.html'">unibarranquilla</div>
        <button class="login-button" onclick="location.href='login.html'">Iniciar Sesión</button>
    </div>
    <div class="main-content">
        <div class="sidebar">
            <br>
            <a  onclick="location.href='../Home/inicio.html'"><button>Inicio</button></a>
            <br>
            <button calss="modboton">Ver módulos académicos</button>       
            <br>
            <button class="modulos" onclick="location.href='../ver_adminis/adminis.html'">Ver monitorias administrativas</button>
            <br>
            <a onclick="location.href='../postulacion/postulacion.html'" class="apply-button">Postularse</a>

        </div>
        <div class="content">
        
            <h2 style="width: 100%; text-align: center;">Módulos académicos disponibles</h2>
        
            <div class="module">
                <img src="../img/modulo1.jpeg" alt="Módulo 1">
                <div class="module-content">
                    <h3>Cálculo</h3>
                    <p>Una de las materias más importantes para los estudiantes de ciencias e ingeniería.</p>
                    <div class="requirements">Necesitas un promedio de 4</div>
                </div>
            </div>
            <div class="module">
                <img href=img src="modulo2.jpg" alt="Módulo 2">
                <div class="module-content">
                    <h3>Algebra y trigonometria</h3>
                    <p>Una de las materias más importantes para los estudiantes de ciencias e ingeniería.</p>
                    <div class="requirements">Necesitas un promedio de 4</div>
                </div>
            </div>
            <div class="module">
                <img src="modulo3.jpg" alt="Módulo 3">
                <div class="module-content">
                    <h3>Programación Modular</h3>
                    <p>Una de las materias más importantes para los estudiantes de ciencias e ingeniería.</p>
                    <div class="requirements">Necesitas un promedio de 4</div>
                </div>
            </div>
            <div class="module">
                <img src="modulo4.jpg" alt="Módulo 4">
                <div class="module-content">
                    <h3>Estrucuta de datos</h3>
                    <p>Una de las materias más importantes para los estudiantes de ciencias e ingeniería.</p>
                    <div class="requirements">Necesitas un promedio de 4</div>
                </div>
            </div>
            <!-- Agrega más módulos aquí -->
        </div>
    </div>
</body>
</html>
