<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Áreas</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="header">
        <div class="logo" onclick="location.href='admin.html'">unibarranquilla</div>
        <button class="login-button" onclick="location.href='../login/login.html'">Cerrar Sesión</button>
    </div>
    <div class="main-content">
        <div class="sidebar">
            </button>
            <button onclick="location.href='admin.html'">Ver Postulaciones</button>
            <button onclick="location.href='modulos.html'">Gestionar módulos</button>
            <button onclick="location.href='areas.html'">Gestionar áreas</button>
        </div>
        <div class="content">
            <h2 class="title">Gestionar Monitores</h2>
            <div class="monitor">
                <div class="monitor-info">
                    <h3>Juan Pérez</h3>
                    <p>Área de Sistemas</p>
                </div>
                <button class="view-button">Ver Monitor</button>
            </div>
            <div class="monitor">
                <div class="monitor-info">
                    <h3>María García</h3>
                    <p>Área de Administración</p>
                </div>
                <button class="view-button">Ver Monitor</button>
            </div>
            <div class="monitor">
                <div class="monitor-info">
                    <h3>Carlos López</h3>
                    <p>Área de Recursos Humanos</p>
                </div>
                <button class="view-button">Ver Monitor</button>
            </div>
            <div class="monitor">
                <div class="monitor-info">
                    <h3>Luisa Martínez</h3>
                    <p>Área de Admisiones</p>
                </div>
                <button class="view-button">Ver Monitor</button>
            </div>
            <!-- Agrega más monitores según sea necesario -->
        </div>
    </div>
</body>
</html>
