<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Módulos</title>
    <link rel="stylesheet" href="style.css">
    <style>
        
    </style>
</head>
<body>
    <div class="header">
        <div class="logo" onclick="location.href='admin.html'">unibarranquilla</div>
        <button class="logout-button" onclick="location.href='../login/login.html'">Cerrar Sesión</button>
    </div>
    <div class="main-content">
        <div class="sidebar">
            <button onclick="location.href='admin.html'">Ver Postulaciones</button>
            <button onclick="location.href='modulos.html'">Gestionar Módulos</button>
            <button onclick="location.href='areas.html'">Gestionar Áreas</button>
        </div>
        <div class="content">
            <h2>Gestionar Monitores</h2>
            <div class="module">
                <div class="module-content">
                    <h3>Nombre del Monitor: Juan Pérez</h3>
                    <p>Módulo: Cálculo</p>
                </div>
                <button class="view-button" onclick="location.href='perfil_monitor.html'">Ver Monitor</button>
            </div>
            <div class="module">
                <div class="module-content">
                    <h3>Nombre del Monitor: María Gómez</h3>
                    <p>Módulo: Álgebra y Trigonometría</p>
                </div>
                <button class="view-button">Ver Monitor</button>
            </div>
            <!-- Agrega más monitores según sea necesario -->
        </div>
    </div>
</body>
</html>
